.bd-callout {
    padding: 0.6rem 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    padding-left: 35px;
}
.bd-callout-warning {
    border-left-color: #f0ad4e;
}

body{
    background:linear-gradient(-45deg, #ee7752, #e73c7e, #c2e9fb,#a1c4fd);
    background-position: 0% 50%;
    background-size:400% 400% ;
}

.card{
    border:none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-header{
    color:white;
    background:linear-gradient(to right, rgba(91,89,163,1) 0%, rgba(52,108,181,1) 50%, rgba(15,122,198,1) 100%);
}

.card-header h1{
    font-size: 24px;
}

.text-strike{
    text-decoration: line-through;
}

.count-label{
    text-align: center;
}

.card-footer{
    font-size: 14px;
    color:white;
    background:linear-gradient(to right, rgba(91,89,163,1) 0%, rgba(52,108,181,1) 50%, rgba(15,122,198,1) 100%);
}

.btn-group-xs>.btn, .btn-xs{
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
    line-height: 1;
}